<div class="container-cards">
<h2>Our VHS</h2>
<div class="movies-cards-index">
  <% @movies.each do |movie|%>
  <div class="movie-card-index">
      <% if movie.photo.attached? %>
        <%= cl_image_tag movie.photo.key %>
      <% else %>
        <p>Missing image</p>
      <% end %>
      <%# <div class="movie-infos"> %>
        <p class="mt-2"><%= movie.title %></p>
        <p><%= movie.price_per_day %>$</p>
        <%= link_to "See details", movie_path(movie), class: "vhs-button mb-5"%>
        </div>
      <% end %>
    </div>
</div>

<br>

<%= link_to "Add VHS", new_owner_movie_path(@movie), class: "btn-medium mr-3"%>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
