<div class="container-cards mt-3">
  <h2>Our search bar</h2>
  <!-- Search bar -->
  <%= form_tag movies_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control mt-5",
      placeholder: "Find a VHS"
    %>
    <%= submit_tag "Search", class: "vhs-button mb-5" %>
  <% end %>

  <!-- Movies display -->
  <h2>Our VHS</h2>
    <div class="movies-cards-index">
      <% @movies.each do |movie|%>
        <div class="movie-card-index">
          <% if movie.photo.attached? %>
            <%= cl_image_tag movie.photo.key %>
          <% else %>
            <p>Missing image</p>
          <% end %>
          <p class="mt-2"><%= movie.title %></p>
          <p><%= movie.price_per_day %>$</p>
          <%= link_to "See details", movie_path(movie), class: "vhs-button mb-5"%>
        </div>
      <% end %>
    </div>
  </div>

<br>
