<h1>Our VHS</h1>

<% @movies.each do |movie|%>
  <%= movie.title %>
  <%= movie.release_year %>
  <%= link_to "See details", movie_path(movie), class: "btn-medium mr-3"%>
<% end %>

<br>

<%= link_to "Add VHS", new_owner_movie_path(@movie), class: "btn-medium mr-3"%>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
