<div class="container">

<%# --------- Card Top --------- %>
  <div class="row">
    <div class="col-12">
      <div class="container-cards">
        <h1>
          <%= @movie.title.capitalize %>
        </h1>
        <h1>Release year
          <% if @movie.release_year? %>
            <%= @movie.release_year %>
          <% else %>
            1900
          <% end %>
        </h1>
        <h3>Price - <%= @movie.price_per_day %>$</h3>
      </div>
    </div>
  </div>

<%# --------- All Cards --------- %>
  <div class="row">

  <%# --------- Card Image --------- %>
    <div class="col-6">
      <div class="vhs-show-card mt-3 mb-3" style="width: 30rem;">
          <%# <h5>VHS cover</h5> %>
          <% if @movie.photo.attached? %>
            <%= cl_image_tag @movie.photo.key, class: "img-fluid" %>
          <% else %>
            <p>Missing image</p>
          <% end %>
      </div>
    </div>
     <%# --------- Card Booking --------- %>
     <div class="col-6">
      <div class="vhs-show-card mt-3" style="width: 30rem;">
        <h5>Book this VHS!</h5>
        <div class= "d-flex flex-column bd-highlight">
          <%= simple_form_for [ @movie, @booking ] do |f| %>
            <%= f.input :start_date, as: :date, html5: true %>
            <%= f.input :end_date, as: :date, html5: true %>
            <p data-price-per-day="<%= @movie.price_per_day %>" id="price-per-day" >Select your date</p>
            <%= f.hidden_field :total_price, value: ""%>
            <%= f.submit "Book VHS", class: "vhs-button w-100" %>
          <% end %>
        </div>
      </div>
      <%# --------- Card Description --------- %>
      <div class="vhs-show-card mt-3" style="width: 30rem;">
          <p><%= @movie.description %></p>
      </div>
    </div>
  </div>

</div>

