<%# --------- Banner --------- %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images3.alphacoders.com/827/827917.jpg);">
  <div class="container">
	<%= link_to "DISCOVER ALL THE VHS YOU DREAMED ABOUT", movies_path, class: "vhs-button" %>
  </div>
</div>

<%# --------- Card --------- %>
<div class="container-cards">
<h2>Special 90's selection</h2>
	<div class= "cards">
		<div class="card-category">
			<%= image_tag "jurassic_park.jpg", height: 200 %><br><br>
      <%= link_to "Book", movies_path, class: "vhs-button" %>
		</div>

		<div class="card-category">
			<%= image_tag "jurassic_park.jpg", height: 200 %><br><br>
      <%= link_to "Book", movies_path, class: "vhs-button" %>
		</div>

		<div class="card-category">
			<%= image_tag "jurassic_park.jpg", height: 200 %><br><br>
      <%= link_to "Book", movies_path, class: "vhs-button" %>
		</div>

    <div class="card-category">
			<%= image_tag "jurassic_park.jpg", height: 200 %><br><br>
      <%= link_to "Book", movies_path, class: "vhs-button" %>
		</div>

    <div class="card-category">
			<%= image_tag "jurassic_park.jpg", height: 200 %><br><br>
      <%= link_to "Book", movies_path, class: "vhs-button" %>
		</div>

    <div class="card-category">
			<%= image_tag "jurassic_park.jpg", height: 200 %><br><br>
      <%= link_to "Book", movies_path, class: "vhs-button" %>
		</div>
	</div>
</div>
<br><br>