<div class="vhs-container">

  <div class="vhs-owner-list">
    <h2 >My own VHS</h2>
    <% @rentings.each do |renting| %>
    <div class="vhs-owner-list-bloc">
      <!-- Image -->
      <div class="vhs-owner-list-bloc-photo">
        <% if renting.movie.photo.attached? %>
          <%= cl_image_tag renting.movie.photo.key, width: 80, height: 120 %>
        <% else %>
          <p>Missing image</p>
        <% end %>
      </div>
      <!-- Information -->
      <div class="vhs-owner-list-bloc-info">
        <p><%= renting.movie.title %></p>
        <p><%= renting.status %></p>
        <p><%= renting.total_price %>$</p>
      </div>
    </div>
    <% end %>
  </div>

  <div class="vhs-booking-list">
    <h2 >My booking VHS</h2>
    <% @bookings.each do |booking| %>
    <div class="vhs-booking-list-bloc">
      <!-- Image -->
      <div class="vhs-booking-list-bloc-photo">
        <% if booking.movie.photo.attached? %>
          <%= cl_image_tag booking.movie.photo.key, width: 80, height: 120 %>
        <% else %>
          <p>Missing image</p>
        <% end %>
      </div>
      <!-- Information -->
      <div class="vhs-booking-list-bloc-info">
        <p><%= booking.movie.title %></p>
        <p><%= booking.status %></p>
        <p><%= booking.total_price %>$</p>
        <p>Owner: <%= booking.movie.owner.first_name %></p>
      </div>
    </div>
    <% end %> 
  </div>

</div>
